In [1]:
# import packages
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from collections import Counter

from sklearn.model_selection import train_test_split, KFold, cross_val_score, GridSearchCV
import statsmodels.api as sm

from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import confusion_matrix, plot_confusion_matrix, accuracy_score, recall_score, precision_score, f1_score, plot_roc_curve, roc_auc_score
from sklearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE
from sklearn.neighbors import KernelDensity

sns.set_style('white')
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

## Data Import

In [2]:
weather = pd.read_csv('./output/weather_cleaned.csv')
spray = pd.read_csv('./output/spray_cleaned.csv')
train = pd.read_csv('./output/train_cleaned.csv')
test = pd.read_csv('./output/test_cleaned.csv')

In [3]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Station      2944 non-null   int64
 1   Date         2944 non-null   object
 2   Tmax         2944 non-null   int64
 3   Tmin         2944 non-null   int64
 4   Tavg         2944 non-null   int64
 5   Depart       2944 non-null   int64
 6   DewPoint     2944 non-null   int64
 7   WetBulb      2944 non-null   int64
 8   Heat         2944 non-null   int64
 9   Cool         2944 non-null   int64
 10  Sunrise      2944 non-null   int64
 11  Sunset       2944 non-null   int64
 12  CodeSum      2944 non-null   object
 13  PrecipBool   2944 non-null   int64
 14  PrecipTotal  2944 non-null   float64
 15  StnPressure  2944 non-null   float64
 16  SeaLevel     2944 non-null   float64
 17  ResultSpeed  2944 non-null   float64
 18  ResultDir    2944 non-null   int64
 19  AvgSpeed     2944 non-null   float64
dtypes: float64(5), int64(13), object(2)
memory usage: 460.1+ KB

In [4]:
# Convert date to datetime.
weather['Date'] = pd.to_datetime(weather['Date'])

In [5]:
spray.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14294 entries, 0 to 14293
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        14294 non-null  object
 1   Latitude    14294 non-null  float64
 2   Longitude   14294 non-null  float64
 3   Month       14294 non-null  int64
 4   Week        14294 non-null  int64
 5   Year        14294 non-null  int64
 6   Year Month  14294 non-null  object
dtypes: float64(2), int64(3), object(2)
memory usage: 781.8+ KB

In [6]:
# Convert date to datetime.
spray['Date'] = pd.to_datetime(spray['Date'])

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9693 entries, 0 to 9692
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    9693 non-null   object
 1   Address                 9693 non-null   object
 2   Species                 9693 non-null   object
 3   Block                   9693 non-null   int64
 4   Street                  9693 non-null   object
 5   Trap                    9693 non-null   object
 6   AddressNumberAndStreet  9693 non-null   object
 7   Latitude                9693 non-null   float64
 8   Longitude               9693 non-null   float64
 9   AddressAccuracy         9693 non-null   int64
 10  NumMosquitos            9693 non-null   int64
 11  WnvPresent              9693 non-null   int64
 12  Month                   9693 non-null   int64
 13  Week                    9693 non-null   int64
 14  Year                    9693 non-null   int64
 15  Year Month              9693 non-null   object
 16  LatLong                 9693 non-null   object
 17  Coord                   9693 non-null   object
 18  Nearest_Station         9693 non-null   int64
dtypes: float64(2), int64(8), object(9)
memory usage: 1.4+ MB

In [8]:
train['Date'] = pd.to_datetime(train['Date'])

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116293 entries, 0 to 116292
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      116293 non-null  int64
 1   Date                    116293 non-null  object
 2   Address                 116293 non-null  object
 3   Species                 116293 non-null  object
 4   Block                   116293 non-null  int64
 5   Street                  116293 non-null  object
 6   Trap                    116293 non-null  object
 7   AddressNumberAndStreet  116293 non-null  object
 8   Latitude                116293 non-null  float64
 9   Longitude               116293 non-null  float64
 10  AddressAccuracy         116293 non-null  int64
 11  Month                   116293 non-null  int64
 12  Week                    116293 non-null  int64
 13  Year                    116293 non-null  int64
 14  Year Month              116293 non-null  object
 15  LatLong                 116293 non-null  object
 16  Coord                   116293 non-null  object
 17  Nearest_Station         116293 non-null  int64
dtypes: float64(2), int64(7), object(9)
memory usage: 16.0+ MB

In [10]:
# Convert date to datetime.
test['Date'] = pd.to_datetime(test['Date'])

## Feature Engineering

### Weather -- Sunhour Feature

In [11]:
# change datatypes of Sunrise and Sunset values 
weather['Sunrise'] = weather['Sunrise'].apply(str)
weather['Sunset'] = weather['Sunset'].apply(str)

In [12]:
# convert Sunrise and Sunset values to datetime
sunrise_time = []
for val in weather['Sunrise']:
    date_val = datetime.datetime.strptime(val, '%H%M')
    sunrise_time.append(date_val.hour + date_val.minute/60)

sunset_time = []
for val in weather['Sunset']:
    try:
        date_val = datetime.datetime.strptime(val, '%H%M')
        sunset_time.append(date_val.hour + date_val.minute/60)
    except:
        date_val = datetime.datetime.strptime(val.replace('60', '59'), '%H%M')
        sunset_time.append(date_val.hour + date_val.minute/60)

# convert values to hours from midnight
weather['Sunrise'] = sunrise_time
weather['Sunset'] = sunset_time

In [13]:
# create new column to store sunhours
weather['SunHours'] = weather['Sunset'] - weather['Sunrise']

# drop Sunrise and Sunset columns
weather.drop(columns=['Sunrise', 'Sunset'], inplace=True)

### Weather -- Codesum Feature

Only days with weather condition will be recorded in the dataset. Hence, empty strings in this column actually means that it is a weather-wise uneventful day. We can replace all empty string with '0' to indicate that.

Specifically, we want to create dummy variables - Rain, Snow, Windy and Misty - as follows:

Rain = 1 if CodeSum contains ['TS', 'RA', 'DZ', 'SH'] else = 0

Snow = 1 if CodeSum contains ['SN', 'SG', 'GS', 'PL', 'IC', 'DR', 'BC', 'GR'] else = 0

Windy = 1 if CodeSum contains ['SQ', 'DS', 'SS', 'PO', 'BL'] else = 0

Misty = 1 if CodeSum contains ['BR', 'HZ', 'FG', 'FU'] else = 0

In [14]:
weather["CodeSum"].unique()

array([' ', 'BR', 'BR HZ', 'HZ', 'RA', 'RA BR', 'TSRA RA BR', 'RA VCTS',
       'TSRA RA', 'RA HZ', 'TSRA RA BR HZ', 'TSRA BR HZ', 'RA BR HZ VCTS',
       'TSRA RA HZ', 'TSRA BR HZ VCTS', 'TSRA', 'TSRA BR HZ FU',
       'TSRA RA HZ FU', 'BR HZ FU', 'TSRA RA VCTS', 'HZ VCTS', 'TSRA HZ',
       'VCTS', 'RA BR VCTS', 'TSRA RA BR VCTS', 'TS TSRA RA BR HZ VCTS',
       'DZ BR', 'TS TSRA RA BR HZ', 'TS TSRA BR HZ', 'RA BR HZ',
       'TSRA RA DZ BR HZ', 'TS TSRA RA BR', 'TS RA BR', 'TS TSRA RA',
       'TS TSRA RA BR VCTS', 'TS TSRA BR', 'TS RA', 'RA BCFG BR',
       'TSRA BR', 'RA DZ FG+ BCFG BR', 'RA FG+ MIFG BR', 'RA DZ',
       'RA DZ BR', 'TS TSRA RA HZ', 'TSRA RA FG+ FG BR',
       'TSRA DZ FG+ FG BR HZ', 'TS BR', 'RA BR SQ', 'TS TSRA',
       'TSRA RA BR HZ VCTS', 'BR VCTS', 'TS', 'FG+ BR HZ', 'RA SN',
       'TSRA RA DZ BR', 'DZ BR HZ', 'RA BR FU', 'TS BR HZ', 'DZ',
       'FG+ BR', 'FG+ FG BR', 'FG+ MIFG BR', 'TSRA RA FG BR',
       'TSRA FG+ BR', 'RA DZ BR HZ', 'RA DZ SN', 'FG+ FG BR HZ',
       'TS TSRA RA FG BR', 'BR HZ VCFG', 'TS RA FG+ FG BR',
       'TSRA RA FG+ BR', 'RA DZ FG+ FG BR', 'TS TSRA RA VCTS', 'FU',
       'TS TSRA VCFG', 'TS TSRA HZ', 'TS TSRA GR RA BR', 'RA FG BR',
       'HZ FU', 'RA BR HZ FU', 'MIFG BCFG BR', 'FG+ BCFG BR',
       'TSRA RA FG+ FG BR HZ', 'FG+', 'TSRA BR SQ', 'TSRA DZ BR HZ',
       'RA BR HZ VCFG', 'RA FG+ BR', 'FG BR HZ', 'TS HZ',
       'TS TSRA RA FG BR HZ', 'RA DZ FG+ BR', 'RA DZ FG+ BR HZ',
       'TSRA FG+ BR HZ', 'RA BR VCFG', 'TS RA BR HZ', 'BCFG BR',
       'RA SN BR'], dtype=object)

In [15]:
# Ensuring that each code has proper spacing
codes = ['+FC','FC', 'TS', 'GR', 'RA', 'DZ', 'SN', 'SG', 'GS', 'PL',
         'IC', 'FG+', 'FG', 'BR', 'UP', 'HZ', 'FU', 'VA', 'DU', 'DS',
         'PO', 'SA', 'SS', 'PY', 'SQ', 'DR', 'SH', 'FZ', 'MI', 'PR',
         'BC', 'BL', 'VC']
weather['CodeSum'] = weather['CodeSum'].apply(lambda x: ' '.join([t for t in x.split(' ') if t in codes]))

In [16]:
# create dummy variables indicate rainy, snowy, windy and misty conditions 
weather["Rain"] = np.where(weather['CodeSum'].str.contains("|".join(['TS', 'RA', 'DZ', 'SH'])), 1, 0)
weather["Snow"] = np.where(weather['CodeSum'].str.contains("|".join(['SN', 'SG', 'GS', 'PL', 'IC', 'DR', 'BC', 'GR'])), 1, 0)
weather["Wind"] = np.where(weather['CodeSum'].str.contains("|".join(['SQ', 'DS', 'SS', 'PO', 'BL'])), 1, 0)
weather["Mist"] = np.where(weather['CodeSum'].str.contains("|".join(['BR', 'HZ', 'FG', 'FU'])), 1, 0)

In [17]:
weather.tail()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,CodeSum,PrecipBool,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,SunHours,Rain,Snow,Wind,Mist
2939,2,2014-10-29,49,40,45,-2,34,42,20,0,,0,0.00,29.42,30.07,8.5,29,9.0,10.50,0,0,0,0
2940,1,2014-10-30,51,32,42,-4,34,40,23,0,,0,0.00,29.34,30.09,5.1,24,5.5,10.45,0,0,0,0
2941,2,2014-10-30,53,37,45,-1,35,42,20,0,RA,1,0.00,29.41,30.10,5.9,23,6.5,10.45,1,0,0,0
2942,1,2014-10-31,47,33,40,-6,25,33,25,0,RA SN,1,0.03,29.49,30.20,22.6,34,22.9,10.40,1,1,0,0
2943,2,2014-10-31,49,34,42,-4,29,36,23,0,RA SN BR,1,0.04,29.54,30.20,21.7,34,22.6,10.40,1,1,0,1

In [18]:
# now that we have the dummy variables for the key weather conditions, we can drop CodeSum
weather.drop(["CodeSum"], axis=1, inplace=True)

### Weather -- Humidity Feature

In [19]:
weather['Humidity'] = np.round(100-25/9*(weather['Tavg']-weather['DewPoint']),1)

In [20]:
weather['Humidity'].describe()

count    2944.000000
mean       61.721603
std        14.349888
min         8.300000
25%        52.800000
50%        61.100000
75%        72.200000
max       105.600000
Name: Humidity, dtype: float64

In [21]:
weather.loc[weather['Humidity']>100,'Humidity'] = 100

### Weather -- Time Lag Feature

From research, we know that the following conditions will affect the mosquitos' ability to survive and breed ([Source: Orkin, 2021](https://www.orkin.com/pests/mosquitoes/when-are-mosquitoes-most-active))

Wind, Temperature, Humidity, Precipitation, Drought & Rainfall

Additionally, the entire life cycle of a mosquito, from an egg to an adult, takes approximately 8-10 days ([Source: CDC, 2021](https://www.cdc.gov/dengue/resources/factsheets/mosquitolifecyclefinal.pdf)). Therefore, we will want to monitor the weather conditions after the past 1, 3, 7 and 14 days.

In [22]:
# split the weather features by stations
weather_df_group1 = weather.loc[weather['Station']==1]
weather_df_group2 = weather.loc[weather['Station']==2]

In [23]:
# create a variable to store the weather features to do a time lag on
weat_features = ['AvgSpeed', 'DewPoint', 'PrecipTotal', 'ResultDir', 'ResultSpeed', 'SeaLevel', 'StnPressure',
                'Tavg', 'WetBulb', 'SunHours', 'Humidity']

group1_lag_features = weather_df_group1[weat_features]
group2_lag_features = weather_df_group2[weat_features]

# set the number of lags in days
lags = (1, 3, 7, 14)

# assign new columns to the respective dataframes
group1_weather_lag_features = weather_df_group1.assign(**{f'{col}_lag_{n}': 
                                                          group1_lag_features[col].shift(n) for n in lags 
                                                          for col in group1_lag_features})

group2_weather_lag_features = weather_df_group2.assign(**{f'{col}_lag_{n}': 
                                                          group2_lag_features[col].shift(n) for n in lags 
                                                          for col in group2_lag_features})

In [24]:
# merge both group1_weather_lag_features and group2_weather_lag_features into one dataframe
weather_new_df = pd.concat([group1_weather_lag_features, group2_weather_lag_features])

### Train --  Mosquito Species

Of all the mosquitoes collected, only those belonging to species groups - Restuans or Pipiens - had tested positive for the virus in the train dataset. Mosquito Species will likely be a useful predictor. We create weightage of 1 by dummifying it.

In [25]:
species = ["PIPIENS", "RESTUANS"]

# create loop to create dummified variables to indicate presence of Pipiens & Restuans species
for i in species:
    train[i] = 0
    for index, row in train.iterrows():
        if i in row["Species"]:
            train[i][index] = 1

In [26]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Month,Week,Year,Year Month,LatLong,Coord,Nearest_Station,PIPIENS,RESTUANS
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,5,22,2007,2007 05,"(41.95469, -87.800991)",POINT (41.95469 -87.800991),1,1,1
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,5,22,2007,2007 05,"(41.95469, -87.800991)",POINT (41.95469 -87.800991),1,0,1
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,5,22,2007,2007 05,"(41.994991, -87.769279)",POINT (41.994991 -87.769279),1,0,1
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,5,22,2007,2007 05,"(41.974089, -87.824812)",POINT (41.974089 -87.824812),1,1,1
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,5,22,2007,2007 05,"(41.974089, -87.824812)",POINT (41.974089 -87.824812),1,0,1

## Pre-processing

In [27]:
# renamed 'Nearest_Station' to 'Station'
train.rename(columns = {'Nearest_Station': 'Station'}, inplace=True)
test.rename(columns = {'Nearest_Station': 'Station'}, inplace=True)

In [28]:
# merge both train/test and weather datasets
train_weather_df = pd.merge(train, weather_new_df, on=['Date', 'Station'])
test_weather_df = pd.merge(test, weather_new_df, on=['Date', 'Station'])

In [29]:
train_weather_df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Month,Week,Year,Year Month,LatLong,Coord,Station,PIPIENS,RESTUANS,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,PrecipBool,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,SunHours,Rain,Snow,Wind,Mist,Humidity,AvgSpeed_lag_1,DewPoint_lag_1,PrecipTotal_lag_1,ResultDir_lag_1,ResultSpeed_lag_1,SeaLevel_lag_1,StnPressure_lag_1,Tavg_lag_1,WetBulb_lag_1,SunHours_lag_1,Humidity_lag_1,AvgSpeed_lag_3,DewPoint_lag_3,PrecipTotal_lag_3,ResultDir_lag_3,ResultSpeed_lag_3,SeaLevel_lag_3,StnPressure_lag_3,Tavg_lag_3,WetBulb_lag_3,SunHours_lag_3,Humidity_lag_3,AvgSpeed_lag_7,DewPoint_lag_7,PrecipTotal_lag_7,ResultDir_lag_7,ResultSpeed_lag_7,SeaLevel_lag_7,StnPressure_lag_7,Tavg_lag_7,WetBulb_lag_7,SunHours_lag_7,Humidity_lag_7,AvgSpeed_lag_14,DewPoint_lag_14,PrecipTotal_lag_14,ResultDir_lag_14,ResultSpeed_lag_14,SeaLevel_lag_14,StnPressure_lag_14,Tavg_lag_14,WetBulb_lag_14,SunHours_lag_14,Humidity_lag_14
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,5,22,2007,2007 05,"(41.95469, -87.800991)",POINT (41.95469 -87.800991),1,1,1,88,60,74,10,58,65,0,9,0,0.0,29.39,30.11,5.8,18,6.5,14.933333,0,0,0,1,55.6,5.3,47.0,0.0,10.0,4.8,30.15,29.43,65.0,56.0,14.916667,50.0,7.2,55.0,1.01,17.0,2.8,30.11,29.36,57.0,56.0,14.883333,94.4,10.2,46.0,0.0,18.0,10.0,30.06,29.34,71.0,58.0,14.766667,30.6,12.3,56.0,0.38,27.0,8.1,29.84,29.13,69.0,61.0,14.533333,63.9
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,5,22,2007,2007 05,"(41.95469, -87.800991)",POINT (41.95469 -87.800991),1,0,1,88,60,74,10,58,65,0,9,0,0.0,29.39,30.11,5.8,18,6.5,14.933333,0,0,0,1,55.6,5.3,47.0,0.0,10.0,4.8,30.15,29.43,65.0,56.0,14.916667,50.0,7.2,55.0,1.01,17.0,2.8,30.11,29.36,57.0,56.0,14.883333,94.4,10.2,46.0,0.0,18.0,10.0,30.06,29.34,71.0,58.0,14.766667,30.6,12.3,56.0,0.38,27.0,8.1,29.84,29.13,69.0,61.0,14.533333,63.9
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,5,22,2007,2007 05,"(41.994991, -87.769279)",POINT (41.994991 -87.769279),1,0,1,88,60,74,10,58,65,0,9,0,0.0,29.39,30.11,5.8,18,6.5,14.933333,0,0,0,1,55.6,5.3,47.0,0.0,10.0,4.8,30.15,29.43,65.0,56.0,14.916667,50.0,7.2,55.0,1.01,17.0,2.8,30.11,29.36,57.0,56.0,14.883333,94.4,10.2,46.0,0.0,18.0,10.0,30.06,29.34,71.0,58.0,14.766667,30.6,12.3,56.0,0.38,27.0,8.1,29.84,29.13,69.0,61.0,14.533333,63.9
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,5,22,2007,2007 05,"(41.974089, -87.824812)",POINT (41.974089 -87.824812),1,1,1,88,60,74,10,58,65,0,9,0,0.0,29.39,30.11,5.8,18,6.5,14.933333,0,0,0,1,55.6,5.3,47.0,0.0,10.0,4.8,30.15,29.43,65.0,56.0,14.916667,50.0,7.2,55.0,1.01,17.0,2.8,30.11,29.36,57.0,56.0,14.883333,94.4,10.2,46.0,0.0,18.0,10.0,30.06,29.34,71.0,58.0,14.766667,30.6,12.3,56.0,0.38,27.0,8.1,29.84,29.13,69.0,61.0,14.533333,63.9
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,5,22,2007,2007 05,"(41.974089, -87.824812)",POINT (41.974089 -87.824812),1,0,1,88,60,74,10,58,65,0,9,0,0.0,29.39,30.11,5.8,18,6.5,14.933333,0,0,0,1,55.6,5.3,47.0,0.0,10.0,4.8,30.15,29.43,65.0,56.0,14.916667,50.0,7.2,55.0,1.01,17.0,2.8,30.11,29.36,57.0,56.0,14.883333,94.4,10.2,46.0,0.0,18.0,10.0,30.06,29.34,71.0,58.0,14.766667,30.6,12.3,56.0,0.38,27.0,8.1,29.84,29.13,69.0,61.0,14.533333,63.9

In [30]:
train_weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9693 entries, 0 to 9692
Data columns (total 86 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    9693 non-null   datetime64[ns]
 1   Address                 9693 non-null   object
 2   Species                 9693 non-null   object
 3   Block                   9693 non-null   int64
 4   Street                  9693 non-null   object
 5   Trap                    9693 non-null   object
 6   AddressNumberAndStreet  9693 non-null   object
 7   Latitude                9693 non-null   float64
 8   Longitude               9693 non-null   float64
 9   AddressAccuracy         9693 non-null   int64
 10  NumMosquitos            9693 non-null   int64
 11  WnvPresent              9693 non-null   int64
 12  Month                   9693 non-null   int64
 13  Week                    9693 non-null   int64
 14  Year                    9693 non-null   int64
 15  Year Month              9693 non-null   object
 16  LatLong                 9693 non-null   object
 17  Coord                   9693 non-null   object
 18  Station                 9693 non-null   int64
 19  PIPIENS                 9693 non-null   int64
 20  RESTUANS                9693 non-null   int64
 21  Tmax                    9693 non-null   int64
 22  Tmin                    9693 non-null   int64
 23  Tavg                    9693 non-null   int64
 24  Depart                  9693 non-null   int64
 25  DewPoint                9693 non-null   int64
 26  WetBulb                 9693 non-null   int64
 27  Heat                    9693 non-null   int64
 28  Cool                    9693 non-null   int64
 29  PrecipBool              9693 non-null   int64
 30  PrecipTotal             9693 non-null   float64
 31  StnPressure             9693 non-null   float64
 32  SeaLevel                9693 non-null   float64
 33  ResultSpeed             9693 non-null   float64
 34  ResultDir               9693 non-null   int64
 35  AvgSpeed                9693 non-null   float64
 36  SunHours                9693 non-null   float64
 37  Rain                    9693 non-null   int32
 38  Snow                    9693 non-null   int32
 39  Wind                    9693 non-null   int32
 40  Mist                    9693 non-null   int32
 41  Humidity                9693 non-null   float64
 42  AvgSpeed_lag_1          9693 non-null   float64
 43  DewPoint_lag_1          9693 non-null   float64
 44  PrecipTotal_lag_1       9693 non-null   float64
 45  ResultDir_lag_1         9693 non-null   float64
 46  ResultSpeed_lag_1       9693 non-null   float64
 47  SeaLevel_lag_1          9693 non-null   float64
 48  StnPressure_lag_1       9693 non-null   float64
 49  Tavg_lag_1              9693 non-null   float64
 50  WetBulb_lag_1           9693 non-null   float64
 51  SunHours_lag_1          9693 non-null   float64
 52  Humidity_lag_1          9693 non-null   float64
 53  AvgSpeed_lag_3          9693 non-null   float64
 54  DewPoint_lag_3          9693 non-null   float64
 55  PrecipTotal_lag_3       9693 non-null   float64
 56  ResultDir_lag_3         9693 non-null   float64
 57  ResultSpeed_lag_3       9693 non-null   float64
 58  SeaLevel_lag_3          9693 non-null   float64
 59  StnPressure_lag_3       9693 non-null   float64
 60  Tavg_lag_3              9693 non-null   float64
 61  WetBulb_lag_3           9693 non-null   float64
 62  SunHours_lag_3          9693 non-null   float64
 63  Humidity_lag_3          9693 non-null   float64
 64  AvgSpeed_lag_7          9693 non-null   float64
 65  DewPoint_lag_7          9693 non-null   float64
 66  PrecipTotal_lag_7       9693 non-null   float64
 67  ResultDir_lag_7         9693 non-null   float64
 68  ResultSpeed_lag_7       9693 non-null   float64
 69  SeaLevel_lag_7          9693 non-null   float64
 70  StnPressure_lag_7       9693 non-null   float64
 71  Tavg_lag_7              9693 non-null   float64
 72  WetBulb_lag_7           9693 non-null   float64
 73  SunHours_lag_7          9693 non-null   float64
 74  Humidity_lag_7          9693 non-null   float64
 75  AvgSpeed_lag_14         9693 non-null   float64
 76  DewPoint_lag_14         9693 non-null   float64
 77  PrecipTotal_lag_14      9693 non-null   float64
 78  ResultDir_lag_14        9693 non-null   float64
 79  ResultSpeed_lag_14      9693 non-null   float64
 80  SeaLevel_lag_14         9693 non-null   float64
 81  StnPressure_lag_14      9693 non-null   float64
 82  Tavg_lag_14             9693 non-null   float64
 83  WetBulb_lag_14          9693 non-null   float64
 84  SunHours_lag_14         9693 non-null   float64
 85  Humidity_lag_14         9693 non-null   float64
dtypes: datetime64[ns](1), float64(53), int32(4), int64(20), object(8)
memory usage: 6.3+ MB

In [31]:
test_weather_df.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,Month,Week,Year,Year Month,LatLong,Coord,Station,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,PrecipBool,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,SunHours,Rain,Snow,Wind,Mist,Humidity,AvgSpeed_lag_1,DewPoint_lag_1,PrecipTotal_lag_1,ResultDir_lag_1,ResultSpeed_lag_1,SeaLevel_lag_1,StnPressure_lag_1,Tavg_lag_1,WetBulb_lag_1,SunHours_lag_1,Humidity_lag_1,AvgSpeed_lag_3,DewPoint_lag_3,PrecipTotal_lag_3,ResultDir_lag_3,ResultSpeed_lag_3,SeaLevel_lag_3,StnPressure_lag_3,Tavg_lag_3,WetBulb_lag_3,SunHours_lag_3,Humidity_lag_3,AvgSpeed_lag_7,DewPoint_lag_7,PrecipTotal_lag_7,ResultDir_lag_7,ResultSpeed_lag_7,SeaLevel_lag_7,StnPressure_lag_7,Tavg_lag_7,WetBulb_lag_7,SunHours_lag_7,Humidity_lag_7,AvgSpeed_lag_14,DewPoint_lag_14,PrecipTotal_lag_14,ResultDir_lag_14,ResultSpeed_lag_14,SeaLevel_lag_14,StnPressure_lag_14,Tavg_lag_14,WetBulb_lag_14,SunHours_lag_14,Humidity_lag_14
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,6,24,2008,2008 06,"(41.95469, -87.800991)",POINT (41.95469 -87.800991),1,86,61,74,7,56,64,0,9,0,0.0,29.28,29.99,8.9,18,10.0,15.166667,0,0,0,0,50.0,9.6,56.0,0.0,25.0,8.8,29.89,29.18,69.0,61.0,15.166667,63.9,12.2,68.0,1.24,18.0,6.5,29.81,29.11,75.0,70.0,15.133333,80.6,5.2,59.0,0.0,4.0,4.5,29.62,28.9,66.0,61.0,15.066667,80.6,8.7,32.0,0.0,6.0,8.2,30.34,29.6,53.0,43.0,14.916667,41.7
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,6,24,2008,2008 06,"(41.95469, -87.800991)",POINT (41.95469 -87.800991),1,86,61,74,7,56,64,0,9,0,0.0,29.28,29.99,8.9,18,10.0,15.166667,0,0,0,0,50.0,9.6,56.0,0.0,25.0,8.8,29.89,29.18,69.0,61.0,15.166667,63.9,12.2,68.0,1.24,18.0,6.5,29.81,29.11,75.0,70.0,15.133333,80.6,5.2,59.0,0.0,4.0,4.5,29.62,28.9,66.0,61.0,15.066667,80.6,8.7,32.0,0.0,6.0,8.2,30.34,29.6,53.0,43.0,14.916667,41.7
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,6,24,2008,2008 06,"(41.95469, -87.800991)",POINT (41.95469 -87.800991),1,86,61,74,7,56,64,0,9,0,0.0,29.28,29.99,8.9,18,10.0,15.166667,0,0,0,0,50.0,9.6,56.0,0.0,25.0,8.8,29.89,29.18,69.0,61.0,15.166667,63.9,12.2,68.0,1.24,18.0,6.5,29.81,29.11,75.0,70.0,15.133333,80.6,5.2,59.0,0.0,4.0,4.5,29.62,28.9,66.0,61.0,15.066667,80.6,8.7,32.0,0.0,6.0,8.2,30.34,29.6,53.0,43.0,14.916667,41.7
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,6,24,2008,2008 06,"(41.95469, -87.800991)",POINT (41.95469 -87.800991),1,86,61,74,7,56,64,0,9,0,0.0,29.28,29.99,8.9,18,10.0,15.166667,0,0,0,0,50.0,9.6,56.0,0.0,25.0,8.8,29.89,29.18,69.0,61.0,15.166667,63.9,12.2,68.0,1.24,18.0,6.5,29.81,29.11,75.0,70.0,15.133333,80.6,5.2,59.0,0.0,4.0,4.5,29.62,28.9,66.0,61.0,15.066667,80.6,8.7,32.0,0.0,6.0,8.2,30.34,29.6,53.0,43.0,14.916667,41.7
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,6,24,2008,2008 06,"(41.95469, -87.800991)",POINT (41.95469 -87.800991),1,86,61,74,7,56,64,0,9,0,0.0,29.28,29.99,8.9,18,10.0,15.166667,0,0,0,0,50.0,9.6,56.0,0.0,25.0,8.8,29.89,29.18,69.0,61.0,15.166667,63.9,12.2,68.0,1.24,18.0,6.5,29.81,29.11,75.0,70.0,15.133333,80.6,5.2,59.0,0.0,4.0,4.5,29.62,28.9,66.0,61.0,15.066667,80.6,8.7,32.0,0.0,6.0,8.2,30.34,29.6,53.0,43.0,14.916667,41.7

In [32]:
test_weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116293 entries, 0 to 116292
Data columns (total 83 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      116293 non-null  int64
 1   Date                    116293 non-null  datetime64[ns]
 2   Address                 116293 non-null  object
 3   Species                 116293 non-null  object
 4   Block                   116293 non-null  int64
 5   Street                  116293 non-null  object
 6   Trap                    116293 non-null  object
 7   AddressNumberAndStreet  116293 non-null  object
 8   Latitude                116293 non-null  float64
 9   Longitude               116293 non-null  float64
 10  AddressAccuracy         116293 non-null  int64
 11  Month                   116293 non-null  int64
 12  Week                    116293 non-null  int64
 13  Year                    116293 non-null  int64
 14  Year Month              116293 non-null  object
 15  LatLong                 116293 non-null  object
 16  Coord                   116293 non-null  object
 17  Station                 116293 non-null  int64
 18  Tmax                    116293 non-null  int64
 19  Tmin                    116293 non-null  int64
 20  Tavg                    116293 non-null  int64
 21  Depart                  116293 non-null  int64
 22  DewPoint                116293 non-null  int64
 23  WetBulb                 116293 non-null  int64
 24  Heat                    116293 non-null  int64
 25  Cool                    116293 non-null  int64
 26  PrecipBool              116293 non-null  int64
 27  PrecipTotal             116293 non-null  float64
 28  StnPressure             116293 non-null  float64
 29  SeaLevel                116293 non-null  float64
 30  ResultSpeed             116293 non-null  float64
 31  ResultDir               116293 non-null  int64
 32  AvgSpeed                116293 non-null  float64
 33  SunHours                116293 non-null  float64
 34  Rain                    116293 non-null  int32
 35  Snow                    116293 non-null  int32
 36  Wind                    116293 non-null  int32
 37  Mist                    116293 non-null  int32
 38  Humidity                116293 non-null  float64
 39  AvgSpeed_lag_1          116293 non-null  float64
 40  DewPoint_lag_1          116293 non-null  float64
 41  PrecipTotal_lag_1       116293 non-null  float64
 42  ResultDir_lag_1         116293 non-null  float64
 43  ResultSpeed_lag_1       116293 non-null  float64
 44  SeaLevel_lag_1          116293 non-null  float64
 45  StnPressure_lag_1       116293 non-null  float64
 46  Tavg_lag_1              116293 non-null  float64
 47  WetBulb_lag_1           116293 non-null  float64
 48  SunHours_lag_1          116293 non-null  float64
 49  Humidity_lag_1          116293 non-null  float64
 50  AvgSpeed_lag_3          116293 non-null  float64
 51  DewPoint_lag_3          116293 non-null  float64
 52  PrecipTotal_lag_3       116293 non-null  float64
 53  ResultDir_lag_3         116293 non-null  float64
 54  ResultSpeed_lag_3       116293 non-null  float64
 55  SeaLevel_lag_3          116293 non-null  float64
 56  StnPressure_lag_3       116293 non-null  float64
 57  Tavg_lag_3              116293 non-null  float64
 58  WetBulb_lag_3           116293 non-null  float64
 59  SunHours_lag_3          116293 non-null  float64
 60  Humidity_lag_3          116293 non-null  float64
 61  AvgSpeed_lag_7          116293 non-null  float64
 62  DewPoint_lag_7          116293 non-null  float64
 63  PrecipTotal_lag_7       116293 non-null  float64
 64  ResultDir_lag_7         116293 non-null  float64
 65  ResultSpeed_lag_7       116293 non-null  float64
 66  SeaLevel_lag_7          116293 non-null  float64
 67  StnPressure_lag_7       116293 non-null  float64
 68  Tavg_lag_7              116293 non-null  float64
 69  WetBulb_lag_7           116293 non-null  float64
 70  SunHours_lag_7          116293 non-null  float64
 71  Humidity_lag_7          116293 non-null  float64
 72  AvgSpeed_lag_14         116293 non-null  float64
 73  DewPoint_lag_14         116293 non-null  float64
 74  PrecipTotal_lag_14      116293 non-null  float64
 75  ResultDir_lag_14        116293 non-null  float64
 76  ResultSpeed_lag_14      116293 non-null  float64
 77  SeaLevel_lag_14         116293 non-null  float64
 78  StnPressure_lag_14      116293 non-null  float64
 79  Tavg_lag_14             116293 non-null  float64
 80  WetBulb_lag_14          116293 non-null  float64
 81  SunHours_lag_14         116293 non-null  float64
 82  Humidity_lag_14         116293 non-null  float64
dtypes: datetime64[ns](1), float64(53), int32(4), int64(17), object(8)
memory usage: 72.8+ MB

In [33]:
# apply one-hot encoding in train_weather_df
train_weather_encoded_df = pd.get_dummies(train_weather_df, columns=['Trap', 'Species'])

In [34]:
# drop additional columns not required for modelling
train_weather_encoded_df = train_weather_encoded_df.drop(columns=['Date', 'Address', 'Street', 'AddressNumberAndStreet', 
                                                                  'Year Month', 'LatLong', 'Coord'])

In [35]:
# apply one-hot encoding in test_weather_df
test_weather_encoded_df = pd.get_dummies(train_weather_df, columns=['Trap', 'Species'])

In [36]:
# drop additional columns not required for modelling
test_weather_encoded_df = test_weather_encoded_df.drop(columns=['Date', 'Address', 'Street', 'AddressNumberAndStreet', 
                                                                  'Year Month', 'LatLong', 'Coord'])

In [37]:
# obtain X and y variables
X = train_weather_encoded_df[[col for col in train_weather_encoded_df.columns if 'WnvPresent' not in col]]._get_numeric_data()
y = train_weather_encoded_df['WnvPresent']

In [38]:
# define constants for modelling
RS = 42 # random state
CV = 5 # cross val
SCORE = 'roc_auc' # scoring

In [39]:
kf = KFold(n_splits=CV, random_state=RS, shuffle=True)

In [40]:
# train test split
# shuffle=False to account for timelag
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=RS, stratify=y)

In [41]:
print('X_train shape: {}'.format(X_train.shape))
print('y_train shape: {}'.format(y_test.shape))
print('X_test shape: {}'.format(X_test.shape))
print('y_test shape: {}'.format(y_test.shape))

X_train shape: (8723, 219)
y_train shape: (970,)
X_test shape: (970, 219)
y_test shape: (970,)

## Baseline Prediction

In [42]:
# Look at the proportions of each outcome
y_train.value_counts(normalize=True)

0    0.948068
1    0.051932
Name: WnvPresent, dtype: float64

We observe that the data is heavily imbalanced. We will be 95% accurate if we were to predict all to be the negative class (WNV not present). As such, we will be optimizing our models using AUC score instead of accuracy. We will also deploy SMOTE (Synthetic Minority Over-sampling Technique) to help us with over-sampling.

## Modelling

In [43]:
# dictionary to hold the metrics for each runs
metrics = {}
# dictionary to hold the models for each runs
models = {}
# Dataframe to hold the predictions for validataion set
val_preds_df = X_test.copy()

In [44]:
# train test split
# shuffle=False to account for timelag
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=RS, shuffle=False)

In [45]:
sm = SMOTE(random_state=RS)
X_train, y_train = sm.fit_sample(X_train, y_train)

In [46]:
# after SMOTE()
y_train.value_counts(normalize=True)

0    0.5
1    0.5
Name: WnvPresent, dtype: float64

In [50]:
# Function to fit and collect model metrics
def model_metrics(tag, pipe, param, X_tr, X_ts, y_tr, y_ts, models, preds_df):
    """ 
    Function to fit and collect model metrics
  
    Parameters: 
        tag (str): name for this pipeline
        pipe (pipeline): pipeline to be executed
		param (dict): dictionary of parameters to be used
        X_tr (Series): Series holding the train feature
        X_ts (Series): Series holding the test feature
        y_tr (Series): Series holding the train target
        y_ts (Series): Series holding the test target
  
    Returns: 
		None:
  
    """
    gs = GridSearchCV(pipe, param_grid=param, cv=kf, scoring=SCORE)
    gs.fit(X_tr, y_tr)
    bm = gs.best_estimator_
    models[tag] = gs
    y_pred = bm.predict(X_ts)
    preds_df[tag]=y_pred
    print(f'{tag}->Best params: {gs.best_params_}')
    
    metric = {}
    metric['01 Train score'] = f'{bm.score(X_tr, y_tr):,.4f}'
    metric['02 Test score'] = f'{bm.score(X_ts, y_ts):,.4f}'
    metric['03 Score diff'] = float(metric['01 Train score'])-float(metric['02 Test score'])
    metric['04 Train recall'] = f'{recall_score(y_tr, bm.predict(X_tr)):,.4f}'
    metric['05 Test recall'] = f'{recall_score(y_ts, y_pred):,.4f}'
    metric['06 F1 score'] = f'{f1_score(y_test, y_pred):,.4f}'

    # calculate Specificity and Sensitivity
    tn, fp, fn, tp = confusion_matrix(y_ts, y_pred).ravel()
    metric['07 Precision'] = f'{(tp /(tp + fp)):.4f}'
    metric['08 Specificity'] = f'{(tn / (tn + fp)):.4f}'
    metric['09 Sensitivity'] = f'{(tp / (tp + fn)):.4f}'
    metric['10 True Negatives'] = tn
    metric['11 False Positives'] = fp
    metric['12 False Negatives'] = fn
    metric['13 True Positives'] = tp
    metric['14 Train ROC Score'] = f'{roc_auc_score(y_tr, bm.predict_proba(X_tr)[:,1]):,.4f}'
    metric['15 Test ROC Score'] = f'{roc_auc_score(y_ts, bm.predict_proba(X_ts)[:,1]):,.4f}'
    metric['16 Train CV Score'] = f'{cross_val_score(bm, X_tr, y_tr, cv=CV).mean():,.4f}'
    metric['17 Test CV Score'] = f'{cross_val_score(bm, X_ts, y_ts, cv=CV).mean():,.4f}'

    # plot roc and confusion matrix
    fig, ax = plt.subplots(nrows=1, ncols=2, figsize=(12,5))
    plot_roc_curve(gs, X_ts, y_ts, name=tag, ax=ax[0]);
    # Plot baseline. (Perfect overlap between the two populations.)
    ax[0].plot(np.linspace(0, 1, 200), np.linspace(0, 1, 200),
             label='baseline', linestyle='--')
    plot_confusion_matrix(gs, X_ts, y_ts, ax=ax[1], cmap='RdPu');
    ax[0].set_title(f'ROC for {tag}');
    ax[1].set_title(f'Confusion Matrix for {tag}');
    
    return metric

### Logistic Regression

In [51]:
# Creating a pipeline model for StandardScaler, SMOTE and Logistic Regression
lr_pipe = Pipeline([
        ('ss', StandardScaler()),
        ('lr', LogisticRegression(random_state=RS, max_iter=5000))
    ])
# Paramters
lr_params = {'lr__C': np.linspace(0.1, 1, 20)}

In [52]:
metrics['log_reg'] = model_metrics('log_reg', lr_pipe, lr_params, X_train, X_test, 
                                   y_train, y_test, models, val_preds_df)
pd.DataFrame(metrics)

ValueError: Length of values (2424) does not match length of index (970)

### KNeighborsClassifier

In [ ]:
# Creating a pipeline model for StandardScaler, SMOTE and Random Forest
knn_pipe = Pipeline([
        ('ss', StandardScaler()),
        ('knn', KNeighborsClassifier())
    ])
# Paratmeters
knn_params = {
    'memory': [None, 1],
    'verbose': [True, False]
}

In [ ]:
metrics['k_neighbor'] = model_metrics('k_neighbor', knn_pipe, knn_params, X_train, X_test, 
                                         y_train, y_test, models, val_preds_df)
pd.DataFrame(metrics)

### Random Forest

In [ ]:
# Creating a pipeline model for StandardScaler, SMOTE and Random Forest
rf_pipe = Pipeline([
        ('ss', StandardScaler()),
        ('rf', RandomForestClassifier(random_state=RS))
    ])
# Paratmeters
rf_params = {
    'rf__max_depth': [None, 3],
    'rf__n_estimators': [150, 200]
}

In [ ]:
metrics['random_forest'] = model_metrics('random_forest', rf_pipe, rf_params, X_train, X_test, 
                                         y_train, y_test, models, val_preds_df)
pd.DataFrame(metrics)

### Extra Tree

In [ ]:
# Creating a pipeline model for StandardScaler, SMOTE and Extra Trees
et_pipe = Pipeline([
        ('ss', StandardScaler()),
        ('et', ExtraTreesClassifier(random_state=RS, n_jobs=-1))
    ])
# Parameters
et_params = {'et__n_estimators': [500],
             'et__min_samples_split': [2],
             'et__min_samples_leaf': [5],
             'et__ccp_alpha': [0]}

In [ ]:
metrics['extra_trees'] = model_metrics('extra_trees', et_pipe, et_params, X_train, X_test, 
                                       y_train, y_test, models, val_preds_df)
pd.DataFrame(metrics)

### GradientBoostingClassifier

In [ ]:
# pipeline
gboost_pipe = Pipeline([
        ('ss', StandardScaler()),
        ('gboost', GradientBoostingClassifier(random_state=RS))
])
# Parameters
gboost_params = {
    'gboost__n_estimators': [80, 100, 120, 150],
    'gboost__max_depth': [1, 2, 3],
    'gboost__min_samples_split': [2, 4],
    'gboost__min_samples_leaf': [1, 2]
}

In [ ]:
metrics['gboost'] = model_metrics('gboost', gboost_pipe, gboost_params, X_train, X_test, 
                                   y_train, y_test, models, val_preds_df)
pd.DataFrame(metrics)

### AdaBoost

In [ ]:
# Pipeline
ada_pipe = Pipeline([
        ('ss', StandardScaler()),
        ('ada', AdaBoostClassifier(random_state=RS))
    ])

# Hyperparameters
ada_params = {
    'ada__n_estimators': [20, 30, 40, 50],
    'ada__learning_rate': [0.8, 0.9, 1]
}

In [ ]:
metrics['ada'] = model_metrics('ada', ada_pipe, ada_params, X_train, X_test, 
                                   y_train, y_test, models, val_preds_df)
pd.DataFrame(metrics)

In [ ]:
metrics_df = pd.DataFrame(metrics).T
cols = {'02 Test score': 'Accuracy scores', 
        '10 False Positives': 'ROC AUC scores', 
        '14 Test ROC Score': 'False Positives count', 
        '06 Precision': 'Precision'}

for col in cols.keys():
    metrics_df[col] = metrics_df[col].astype('float')
    sns.barplot(x=metrics_df.index, y=col, data=metrics_df, ci=None);
    plt.title(cols[col])
    plt.show();

In [ ]:
# Combine chart of ROC/AUC
fig, ax = plt.subplots(figsize=(12,12));
lr_plot = plot_roc_curve(models['log_reg'].best_estimator_, X_test, y_test, name='Logistic Regression',ax=ax);
knn_plot = plot_roc_curve(models['k_neighbor'].best_estimator_, X_test, y_test, name='KNeighborsClassifier',ax=ax);
rf_plot = plot_roc_curve(models['random_forest'].best_estimator_, X_test, y_test, name='Random Forest', ax=ax);
et_plot = plot_roc_curve(models['extra_trees'].best_estimator_, X_test, y_test, name='Extra Trees', ax=ax);
gb_plot = plot_roc_curve(models['gboost'].best_estimator_, X_test, y_test, name='Gradient Boosting', ax=ax);
ada_plot = plot_roc_curve(models['ada'].best_estimator_, X_test, y_test, name='AdaBoost', ax=ax);
plt.plot(np.linspace(0, 1, 200), np.linspace(0, 1, 200), label='baseline', linestyle='--');

### Model Selection and Feature Importance

#### Interpreting Gradient Boosting

In [ ]:
gboost = GradientBoostingClassifier(max_depth=3, min_samples_leaf=2, min_samples_split=2, n_estimators=150, random_state=42)
gboost.fit(X_train, y_train)

In [ ]:
imp_gboost = pd.DataFrame(gboost.feature_importances_,
                       index=X.columns,
                       columns=['weights']).sort_values(by='weights', ascending=False)

In [ ]:
# Plot in bar chart
imp_gboost.head(20).plot(kind='barh', label=imp_gboost.columns[:20], figsize=(12,7), color='green')
plt.title('Top 20 Feature Importance for Gradient Boost', fontsize=15)
plt.gca().invert_yaxis()
plt.legend(loc=4);

#### Interpreting Logistic Regression

In [ ]:
lr = LogisticRegression(random_state=42, max_iter=5000, C=0.1)
lr.fit(X_train, y_train)

In [ ]:
lr.coef_.shape

In [ ]:
importance = lr.coef_
features = X_train.columns
importance = importance.reshape(lr.coef_.shape[1],1)
imp_lr = pd.DataFrame(importance,
                       index=features,
                       columns=['weights']).sort_values(by='weights', ascending=False)
imp_lr

In [ ]:
# Plotting top 20 +ve features in bar chart
imp_lr['weights'].head(20).plot(kind='barh', figsize=(12,7))
plt.title('Top 20 Feature Coefficients (+ve) for Logistic Regression', fontsize=15)
plt.gca().invert_yaxis()
plt.legend(loc=4);

In [ ]:
# Plotting top 20 -ve features in bar chart
imp_lr['weights'].tail(20).plot(kind='barh', figsize=(12,7))
plt.title('Top 20 Feature Coefficients (-ve) for Logistic Regression', fontsize=15)
plt.legend(loc=3);

In [ ]:
xxx

### Polynomial Feature Engineering

In [ ]:
# generate the polynomial features, with degree of 2
poly = PolynomialFeatures(include_bias=False, degree=2)

# transform the features
X_poly = poly.fit_transform(X)

# view the shape
print('Our train data with polynomial features included has {} rows and {} columns.'.format(X_poly.shape[0],
                                                                                            X_poly.shape[1]))

In [ ]:
# obtain the features' names
X_poly = pd.DataFrame(X_poly, columns=poly.get_feature_names(X.columns))

# generate list of poly feature correlation with y
X_poly_corrs = X_poly.corrwith(y)

In [ ]:
# show features that are most highly correlated (positively) with target
X_poly_corrs_ab = abs(X_poly_corrs)
X_poly_corrs_ab.sort_values(ascending=False).head(20)